.github/
.gitignore
.nvmrc
examples/
tsup.config.ts
package/

# Ignore node_modules
node_modules/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignore test and coverage files
test/
tests/
*.spec.*
*.test.*
coverage/

# Ignore build tools and configuration
.vscode/
.idea/
*.tsbuildinfo

# Ignore source files
src/
*.ts
*.tsx

# Ignore dotfiles
.env
.env.*

# Ignore misc
npm-debug.log*
yarn-error.log
.pnpm-debug.log

# Ignore .tgz
*.tgz
